#players img{
    width: 150px;
    height: 150px;
}
#player {
    border-radius: 30;
    color: black;
}
nav {
    border-radius: 15px;
    height: 30px;
    background: #05a;
    line-height: 30px;
    margin-bottom: 5px;
  }
  nav ul {
    list-style-type: none;
  }
  nav li {
    float: left; 
    width:50%;
    text-align: center;
  } 
  nav a {
    text-decoration: none;
    display: block;
    color: white;
  }
  nav a:hover {
    border-radius: 15px;
    background: #028;
    color: aqua;
  }
#selectedPlayer img{
    width: 50px;
    height: 50px;
}
#compChoice img{
    width: 100px;
    height: 100px;
}
#yourChoice img{
    width: 100px;
    height: 100px;
}
#finalResult{
    color: chocolate;
}
button{
    width: 100px;
    height: 40px;
    color:blue;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
h1{
    color: red;
    margin-bottom: 50px;
}
body{
    background-color:rgb(237, 232, 227);

}#wraper{
    font-size: 1.2rem;
}



